.background-auto-section1{
  
        background-image: url(../../../assets/images/Autosvg.svg); 
        background-color: #cccccc; 
        height: 750px; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;      
    
}
.section-auto{
    bottom: 140px;
}