.background-chekoutspet{
    background-image: url(../../assets/images/Chekoutstep-photo.svg); 
    background-color: #cccccc; 
    height: 315px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
}
.clip-chekount{
    height: 83px;
    width: 60% !important;
    background-color: #000;
    opacity: 34%;
    bottom: 15px;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 96% 100%, 0 100%, 0% 70%, 0% 30%);
}
.section1-hight{
    bottom: 30px;
    
}
.chekout-h2{
    font-size: 30px !important;
}
.navlink-a{
    bottom: 120px;
}
.step-title-p{
    font-size: 30px;
    font-weight: inherit;
}