.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 2rem;
    border: 0;
    z-index: 0;
}
.carousel-indicators {
    z-index: 1 !important;
    bottom: 5px !important;
   
}
.carousel-indicators .active{
    background-color: #fff !important;
}
.carousel-control-next-icon {
    display: none;
}
.carousel-control-prev-icon {
    display: none;
}
.carousel-control-next {
    width: 10%;
    z-index: 0;
}
.carousel-control-prev {
    z-index: 0;
    width: 10%;
}

.clip{
   
    width: 60% !important;
    height: 200px;
    background-color: #000;
    opacity: 34%;
    bottom: 90px;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 96% 100%, 0 100%, 0% 70%, 0% 30%);

}

.background-section1{
    background-image: url(../../../assets/images/Main.svg); 
    background-color: #cccccc; 
    height: 720px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
  
}

.section1-div{
bottom: 120px;
}
.with-div{
    width: 55%;
}
.with-div-text{
    margin: 0px !important;
    margin-left: 15px !important;
}
