
.grey-background{
    background: #C2C4C7;
   
    border-radius: 10px;
    padding: 20px 0px;
    margin-bottom: 40px;
}
.gray-text{
    font-size: 28px;
}
.gray-number{
    font-size: 18px;
}
.gray-two-boxs{
    width: 45% !important;
  
}
.pay-text{
    font-size: 20px;
}