.sectionOne {
    margin-top: 65px;
}
.sectionTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionTwoH1 {
    font-size: 48;
    font-family: Montserrat-Medium, Montserrat;
    font-weight: 500;
    color: #110F0F;
}
.sectionTwoImg {
    width: 345px;
    height: 275px;
    position: absolute;
}
.sectionTwoSvg {
    position: relative; 
    width: 72px;
    height: 72px;
}
.sectionThree {
    margin-top: 45px;
}
.sectionFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionFive {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sectionTwoSpan1 {
    margin-bottom: 50px;
    width: 15%;
}
.sectionTwoSpan2 {
    margin-bottom: 50px;
    width: 15%;
}
.sectionTwoH3 {
    position: relative;
    margin: 220px 280px auto auto;
    color: #5C656B;
    width: 345px;
}
.sectionTwoH3Two {
    width: 345px;
    position: relative;
    margin: 220px 280px auto auto;
    color: #5C656B;
}