.header::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #110F0F;
    width: 100%;
    height: 100px;
    opacity: 34%;
    content: "";
    z-index: 1;
    position: fixed;
}
.header nav {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
}
.ulLogo {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.ulNav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
}
.Nav-a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}
nav ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.navLogo{
    vertical-align: middle;
    font-size: 30px;
}
.aPersonalCabnet {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E84F5B !important;
    border-radius: 5px;
    width: 185px;
    height: 34px;
    text-align: center;
    font-size: 12px;
}
.headerLogo {
    width: 38px;
    height: 32px;
}
button.btn.btn-primary {
    padding: 0;
    height: 35px;
    background-color: transparent;
    border-color: transparent;
}
.btn:focus {
    box-shadow: none !important;
}
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: transparent !important;
    border-color: transparent !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: transparent !important;
    border-color: transparent !important;
}
.Mask {
    width: 41.05px;
    height: 38px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.EN {
    margin-right: 10px;
    padding: 2px 4px;
    background-color: transparent;
    border-radius: 2rem;
    border: 1.5px #FFFFFF solid;
}
.languageActive {
    background-color: #E84F5B;
}
.GE {
    padding: 2px 4px;
    background-color: transparent;
    border-radius: 2rem;
    border: 1.5px #FFFFFF solid;
    pointer-events: none;
}
.languageButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-toggle::after {
    display: none !important;
}
.dropdown-menu {
    transition: all 1s ease;
    transform: translate(-1240px, -10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top]{
    right: auto !important;
} */
.Dropdown-div {
    z-index: 1;
    width: 1400px;
    margin: auto auto;
    height: 600px;
    background-color: #fff !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.Dropdown-a {
    color: #E84F5B;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Dropdown-a:hover {
    color: #E84F5B;
}
.Dropdown-items {
    margin-top: 100px;
    display: block;
} 
.Dropdown-items::marker {
    color:#E84F5B;
} 
.dropdown-item {
    margin-top: 10px;
}
@media only screen and (max-width: 1277px) {
    .ulNav {
        display: none !important;
    }
    .languageButton {
        display: none;
    }
    .ulLogo {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}