
.faAngleDown{
    font-size: 21px;
}
.hauseicon{
    height: 40px;
}
.contact-box{
    background-color: #E84F5B;
    border-radius: 10px;
    height: 92px;
}
.contact-box img{
    height: 53px;
    margin-right: 15px;
}