.box-gray{
    background-color: #5C656B;
}

  /* Handle */
  ::-webkit-scrollbar-thumb-gray {
    background: #000 !important; 
    
    border-radius: 10px;
  }
  .scroll-logo{
      height: 40px;
      margin-bottom: 20px;
  }
  .scroll-box-text{
      margin: 0px;
  }
  .gray-div{
      height: 227px;
      justify-content: center;
  }
  .text-size{
      font-size: 14px;
  }
  /* Handle */
  .scroll-gray::-webkit-scrollbar-thumb {
    background: #CACDCF; 
    
    border-radius: 10px;
  }
  /* Track */
  .scroll-gray::-webkit-scrollbar-track {
    background: #E6E7E8;
    border-radius: 8px;
  }