.sectionThreeMargin {
    margin: 70px 0 0 0;
}
.sectionThreeScroll {
    width: 6500px;
    height: 378px;
    display: flex;
    flex-direction: row;
}
.sectionThreeScroll svg {
    margin: 0 15px;
}
.sectionFiveScrollOne{
    overflow-x: scroll;
    width: 1105px;
}
.sectionFiveScrollOne::-webkit-scrollbar {  
    height: 7px;
}
.sectionFiveScrollOne::-webkit-scrollbar-thumb {   
    background-color: #5C656B;
    border-radius: 20px;
}