.sectionTwoMargin{
    margin-top: 62px;
}
.sectionTwoCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionTwoFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1158px;
    height: 680px;
}
